params {
  aladdin_ref_db {
    'Aladdin_ref' {
      metadata = "s3://zymo-filesystem/home/nsharp/refmerge_8_3_2023/refdatabase_sheet.tsv"
      table = "s3://zymo-filesystem/home/nsharp/refmerge_8_3_2023/merged_filtered_counts.qza"
      taxonomy {
        'saliva-test' {
          qza = "s3://zymo-filesystem/home/nsharp/refmerge_8_3_2023/merged_taxonomy.qza"
        }
      }
    }
  }
}
