// Reference dataset for comparison
params {
    aladdin_ref_db {
        'Aladdin-healthy_gut' {
            metadata = "s3://zymo-igenomes/zymo/zymobiomics_shotgun_ref/healthy_humangut_referencedb/ref_filtered_metadata.tsv"
            data {
                'sourmash-zymo' {
                    table = "s3://zymo-igenomes/zymo/zymobiomics_shotgun_ref/healthy_humangut_referencedb/merged_filtered_counts.qza"
                    taxonomy = "s3://zymo-igenomes/zymo/zymobiomics_shotgun_ref/healthy_humangut_referencedb/merged_taxonomy.qza"
                }
            }
        }    
    }
}
