// Databases for different profilers

params {
    databases {
        'sourmash-zymo-2024' {
            tool = 'sourmash'
            db_params = ''
            db_path = "s3://aladdin-genomes/shotgun_reference/sourmash-zymo-2024/**{.csv,k${params.sourmash_kmersize}.zip}"
            host_lineage = 's3://aladdin-genomes/shotgun_reference/sourmash-zymo-2024/lineage/host_genomes_tax.csv'
        }
        'sourmash-zymo-2023' {
            tool = 'sourmash'
            db_params = ''
            db_path = "s3://aladdin-genomes/shotgun_reference/sourmash-zymo/**{.csv,k${params.sourmash_kmersize}.zip}"
            host_lineage = 's3://aladdin-genomes/shotgun_reference/sourmash-zymo/lineage/host_genomes_tax.csv'
        }
        'metaphlan4-db' {
            tool = 'metaphlan4'
            db_params = ''
            db_path = 's3://aladdin-genomes/shotgun_reference/metaphlan4/'
        }
        'sourmash-zymo-dev-2024' {
            tool = 'sourmash'
            db_params = ''
            db_path = "s3://zymo-igenomes/zymo/zymobiomics_shotgun_ref/sourmash/June2024/**{.csv,k${params.sourmash_kmersize}.zip}"
            host_lineage = 's3://zymo-igenomes/zymo/zymobiomics_shotgun_ref/sourmash/June2024/lineage/host_genomes_tax.csv'
        }
        'sourmash-zymo-dev-2023' {
            tool = 'sourmash'
            db_params = ''
            db_path = "s3://zymo-igenomes/zymo/zymobiomics_shotgun_ref/sourmash/July2023/**{.csv,k${params.sourmash_kmersize}.zip}"
            host_lineage = 's3://zymo-igenomes/zymo/zymobiomics_shotgun_ref/sourmash/July2023/lineage/host_genomes_tax.csv'
        }
        'metaphlan4-db-dev' {
            tool = 'metaphlan4'
            db_params = ''
            db_path = 's3://zymo-igenomes/zymo/zymobiomics_shotgun_ref/metaphlan/'
        }
        /* Not supporting kraken2-braken sequential run yet
        'bracken-db' {
            tool = 'bracken'
            db_params = ';-r 150'
            db_path = 's3://ngi-igenomes/test-data/taxprofiler/bracken.tar.gz'
        }
        */
        'centrifuge-db' {
            tool = 'centrifuge'
            db_params = ''
            db_path = 's3://ngi-igenomes/test-data/taxprofiler/centrifuge.tar.gz'
        }
        'diamond-db' {
            tool = 'diamond'
            db_params = ''
            db_path = 's3://ngi-igenomes/test-data/taxprofiler/diamond.dmnd'
        }
        'kaiju-db' {
            tool = 'kaiju'
            db_params = ''
            db_path = 's3://ngi-igenomes/test-data/taxprofiler/kaiju.tar.gz'
        }
        'kraken2-db' {
            tool = 'kraken2'
            db_params = ''
            db_path = 's3://ngi-igenomes/test-data/taxprofiler/kraken2.tar.gz'
        }
        'krakenuniq-db' {
            tool = 'krakenuniq'
            db_params = ''
            db_path = 's3://ngi-igenomes/test-data/taxprofiler/krakenuniq.tar.gz'
        }
        'malt-db' {
            tool = 'malt'
            db_params = ''
            db_path = 's3://ngi-igenomes/test-data/taxprofiler/malt.tar.gz'
        }
        'motus-db' {
            tool = 'motus'
            db_params = ''
            db_path = 's3://ngi-igenomes/test-data/taxprofiler/db_mOTU.tar.gz'
        }
    }
}